:root {
  --main-color : #4C2A85;
  --secondary-color : #011655;
  --main-darker-color : #b16dc4;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
  overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

body, html, section, div, h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
  display: block;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

li {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 50px;
}

/*
*** NAVBAR
*/

header#navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

header#navbar .logo {
  float: left;
}

header#navbar .logo img{
  width: 75px;
}

header#navbar .menu {
  margin: auto 0 auto auto;
  padding: 0;
  float: right;
  list-style-type: none;
}

header#navbar .menu li {
  display: inline-block;
}

header#navbar .menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
}

header#navbar .menu a:hover {
  background-color: var(--main-color);
  color: white;
}

/*
***   BANNER
*/

.banner {
  height: 100vh;
  width: 100%;
}

section#banner {
  background: url('./imgs/banner.gif');
  background-position: bottom;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}

section#banner #banner-text {
  color: #fff;
  margin: auto auto auto auto;
  text-align: center;
}

section#banner #banner-text h1 {
  font-size: 100px;
}

/*
***   POST BANNER
 */

#post-banner {
  height: 60vh;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}
#post-banner #banner-text {
  color: #fff;
  margin: auto auto auto auto;
  text-align: center;
}

/*
***   POSTS
*/

section#posts {
  margin: 50px;
}

section#posts #posts-title h2 {
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}

section#posts .posts-grid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto auto auto;
}

section#posts .posts-grid .post-col{
  margin: 50px 0;
}

section#posts .posts-grid .post-col, div#post-grid .related .post-col{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.15);
}

section#posts .posts-grid .post-col:hover, div#post-grid .related .post-col:hover{
  -webkit-box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.15);
}

section#posts .posts-grid .post-col .post-description, div#post-grid .related .post-col .post-description{
  border: 1px solid #d8d6d6;
  border-top: 0;
  padding: 20px 30px;
}

section#posts .posts-grid .post-col h3, div#post-grid .related .post-col h3{
  text-align: center;
  margin: 10px 0;
}

section#posts .posts-grid .post-col p, div#post-grid .related .post-col p{
  text-align: justify;
}

section#posts .posts-grid .post-col img , div#post-grid .related .post-col img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

section#posts .posts-grid .post-col .post-description .excerpt, div#post-grid .related .post-col .post-description .excerpt {
  border-top: 1px solid #d8d6d6;
  padding-top: 10px;
  margin-top: 10px;
}

section#posts .posts-grid .post-col .post-description .excerpt p, div#post-grid .related .post-col .post-description .excerpt p{
  text-align: left;
  font-size: 13px;
}

section#posts .btn.btn-purple {
  background-color: var(--main-color);
  color: white;
  padding: 15px 35px;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}

section#posts .btn.btn-purple:hover {
  background-color: var(--main-darker-color);
}

/*
***   Footer
*/

section#footer .logo {
  display: flex;
}

section#footer .logo img {
  margin: auto;
  width: 100px;
}

section#footer .social-media {
  width: 20%;
  margin: auto;
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
}

section#footer .social-media div{
  margin: 20px auto;
}

section#footer .social-media div svg{
  height: 25px;
  cursor: pointer;
  fill: var(--main-color);
}

section#footer .social-media div svg:hover{
  fill: var(--main-darker-color);
}

section#footer hr {
  border: 1px solid #f2f0f3;
}

section#footer p{
  margin: 25px 0;
  text-align: center;
}

/*
*** POST PAGE
*/

div#post-grid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 70% 30%;
  padding: 50px;
}

div#post-grid div#post {
  padding: 0px 40px;
}

div#post-grid div#post h2{
  text-align: center;
  margin-bottom: 50px;
}

div#post-grid div#post #excerpt svg {
  width: 20px;
}

div#post-grid div#post #excerpt p {
  font-weight: 600;
}

div#post-grid div#post #excerpt hr {
  margin: 30px 0;
}

/*
*** CONTACT PAGE
*/

section#contact-banner {
  background: linear-gradient(45deg, var(--main-color), var(--secondary-color));
  background-position: bottom;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  height: 100vh;}

section#contact-banner .content {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}

section#contact-banner .content h2 {
    color: white;
    font-size: 15px;
    margin: 20px 0;
}


section#contact-banner .content img {
  width: 200px;
  height: auto;
}

section#contact {
  text-align: center;
  margin: 50px 0;
}

section#contact svg{
  stroke: var(--main-color);
  stroke-width: 15px;
  fill: transparent;
  width: 50px;
}

section#contact input {
  display: block;
  margin: 1% auto;
  padding: 10px 10px;
  border-radius: 7px;
  border: 1px solid gray;
  width: 50%;
}

section#contact button {
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}
section#contact button:hover {
  background-color: var(--main-darker-color);
}

/*
*** ABOUT PAGE
*/

section#about {
  margin-bottom: 30px;
  background: linear-gradient(45deg, var(--main-color), var(--secondary-color));
  color: #ffffff;
}

section#about .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#about div.about-grid.right {
  display: grid;
  column-gap: 0px;
  grid-template-columns: 50% 50%;
}

section#about div.about-grid.left {
  display: grid;
  align-items: center;
  align-content: center;
  column-gap: 0px;
  grid-template-columns: 50% 50%;
}

section#about div.about-grid div.col.text{
  display: flex;
}

section#about div.about-grid div.col.text div{
  margin: auto;
  text-align: center;
}

section#about div.about-grid p {
  padding: 0 20px;
}

section#about div.about-grid hr {
  width: 20%;
  margin: 20px auto;
  border-color: var(--main-darker-color);
}